<app-navbar></app-navbar>
<div *ngIf="!paymentIntent; else success" class="flex flex-col items-center pt-8 w-screen min-h-screen bg-gradient-to-b from-white to-blue-50 pb-40">    
    <div class="mb-2 mt-16 uppercase text-5xl font-bold
        text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-cyan-600">
        Buy Dev3 Subscription
    </div>
    <div class="mb-8 text-center text-gray-500 max-w-md">
        Buy a subscription to Dev3 and bring your Web3 app from prototype to production, faster than ever before.
    </div>
    <div class="text-gray-700 text-lg font-semibold">My subscriptions</div>

    <!-- <div *ngIf="availableSubscriptions$ | async as availableSubscriptions">

        <div *ngFor="let availableSubscription of availableSubscriptions.available_subscriptions">
            <div *ngIf="userSubscriptions$ | async as userSubscriptions">
                <div *ngFor="let subscription of userSubscriptions.subscriptions">
                    <div *ngIf="subscription.id === availableSubscription.id">
                        Active subscription: {{subscription.id}}
                    </div>
                </div>
            </div>
        </div>
        
    </div> -->

    <div class="mb-8 text-gray-500"
     *ngIf="userSubscriptions$ | async as userSubscriptions">
        <div *ngFor="let subscription of userSubscriptions.subscriptions">
            {{subscription.id}} - {{subscription.stripe_subscription_data.status}}
        </div>
    </div>
    
    <div *ngIf="availableSubscriptions$ | async as availableSubscriptions; else loadingSubscriptions"
     class="rounded-lg flex flex-row flex-wrap gap-4 justify-center w-full max-w-5xl">
        
        <div *ngFor="let subscription of availableSubscriptions.available_subscriptions">
            <app-billing-card [subscription]="subscription"></app-billing-card>
        </div>
    </div>
    <ng-template #loadingSubscriptions>
        <div class="w-full text-center text-xl text-gray-500">
            <div>Loading subscriptions...</div>
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
<ng-template #success>
    <div class="flex flex-col items-center pt-32 w-screen h-screen bg-gradient-to-b from-white to-blue-100">
        <div class="text-2xl uppercase max-w-md font-semibold flex flex-col text-center items-center tracking-wider text-slate-700">
            <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" 
            class="w-16 h-16 mr-4 text-green-500 mb-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>              
            You have sucessfully bought a subscription to Dev3
        </div>
        <a class="mt-8 underline text-cyan-700" routerLink="/">Go back to dashboard</a>
    </div>
</ng-template>
<app-footer></app-footer>