<div class="min-h-full w-full pb-10">
  <div class="px-4 py-2 max-w-screen-lg mx-auto">
    <div class="flex flex-col items-center gap-2 mt-4">
    </div>

    <ng-container *ngIf="(isLoggedIn$ | async) === true; else notLoggedIn">

      <app-info-snippet type="WARNING" [content]="{
        title: 'This is a beta/test product!',
        sections: [
          'Dev3 is still in active development and a security audit has not been done on the product! Some features may not be working properly.',
          'The full production launch of Dev3 is expected in December 2022'
        ]
      }"></app-info-snippet>


      <div class="flex flex-row justify-start items-center w-full">
        <h2 class="text-sm flex mb-2 flex-col items-center text-gray-700">
          <div class="flex flex-row items-center uppercase font-semibold w-full justify-between mt-5">
            <div class="flex flex-row items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64" />
              </svg>
              
              <div>
                Select network
              </div>              
            </div>
          </div>
          <div class="mt-4 font-medium">
            <app-select-network></app-select-network>
          </div>

        </h2>

      </div>

      <div class="w-full flex flex-row items-center justify-between mt-4">
        <div class="uppercase text-sm flex flex-row items-center gap-2 font-semibold text-gray-700" *ngIf="networkAndAddress$ | async as networkAndAddress">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          
          <div class="flex flex-row items-center">

            <span>My apps on</span>  
            <span class="text-violet-700 ml-2 flex flex-row items-center">
              <img class="mr-1 h-4 w-4 rounded-full" [src]="networkAndAddress[0].iconURL" alt="">
              <div>{{networkAndAddress[0].name}}</div>
            </span> 

          </div>
        </div>
        <button class="app-button flex flex-row items-center !px-8 !font-medium" (click)="openCreateNewIssuer()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
          <div *ngIf="networkAndAddress$ | async as networkAndAddress" class="ml-2 text-xs uppercase">
            New {{networkAndAddress[0].name}} app
  
          </div>
        </button>
      </div>

      <div [@inOutAnimation] *ngIf="myIssuers$ | async as myIssuersRes" class="mt-2 border border-gray-200 rounded-lg">
        <ng-container *ngIf="myIssuersRes.value as myIssuers">
          <div [@inOutAnimation] class="flex flex-col" *ngIf="myIssuers.length > 0">
            <div [@inOutAnimation] class="flex flex-row w-full justify-start items-center bg-white shadow-sm border-b"
              *ngFor="let issuer of myIssuers; let i = index" [class.rounded-t-lg]="i === 0"
              [class.rounded-b-lg]="i === (myIssuers.length - 1)">
              <div class="relative w-40 pl-4 border-r">
                <img *ngIf="issuer.issuer.infoData.logo; else noImage" class="h-12 object-contain pl-8 py-2"
                  src="{{ issuer.issuer.infoData.logo | toUrlIPFS }}" alt="Issuer logo" />
                <ng-template #noImage>
                  <div class="w-full h-32 bg-gray-200 rounded-t-4xl"></div>
                </ng-template>
              </div>
              <span class="mr-4 pl-4 w-96 text-gray-700 font-medium">{{ issuer.issuer.infoData.name ?? "Unknown"
                }}</span>

              <div class="flex flex-col gap-8 w-full h-full rounded-b-4xl p-4 justify-between">
                <div class="flex flex-row items-center justify-end text-lg">
                  <button class="app-button transition-all !px-12 flex gap-2 justify-center items-center" routerLink="."
                    (click)="openIssuer(issuer)">
                    <span class="font-semibold uppercase text-xs">Dashboard</span>
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.16602L6.83333 6.99935L1 12.8327" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                </div>

              </div>
            </div>
          </div>
          <div [@inOutAnimation] *ngIf="myIssuers.length === 0"
            class="mt-4 text-sm py-16 flex flex-row font-medium text-center text-gray-500 justify-center leading-loose">
            <div *ngIf="networkAndAddress$ | async as networkAndAddress">
              You haven't created any apps on {{networkAndAddress[0].name}}.
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="myIssuersRes.error">
          <div class="flex justify-center mt-4 text-lg">
            Cannot fetch my issuers.
          </div>
          <div hidden>{{ myIssuersRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="myIssuersRes.loading">
          <div class="w-full h-64 flex flex-row justify-center items-center rounded-4xl mt-4">
            <app-spinner></app-spinner>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #notLoggedIn>
  <div [@inOutAnimation] class="w-full h-full py-16">
    <app-info-snippet [content]="{ title: 'You are not logged in', sections: [
        'Please log in to use Dev3'
      ] }"></app-info-snippet>
  </div>
</ng-template>